$padding: 2px;

* {
    box-sizing: border-box;
}

.with-highlight {
    position: relative;
    overflow: hidden;
    font: 14px sans-serif;
    border: 1px solid lightgrey;
    display: block;
}

.with-highlight__input {
    background: none;
    border: none;
    font: inherit;
    display: block;
    padding: $padding;
    width: 100%;
}

.with-highlight__echo {
    position: absolute;
    top: $padding;
    left: $padding;
    color: transparent;
    z-index: -1;
    white-space: pre;
}

.with-highlight__highlight {
    background: #ffc6f1;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #ff2ecc;
}
